<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Mongo</title>
</head>
<body>

    <h1>This is the Day, (<%= text %>)</h1>


    <form method="POST" action="/" enctype="multipart/form-data">
        <div>

            <!--Team Name-->
            <label >Team Name</label>
            <input type="text" id="name" placeholder="enter the mascot" name="name" />
            <button type="submit">Submit to NBA3 Database</button>

        </div>

        <br>

        <!-- <div> -->

            <!--Team City-->
            <!-- <label>Team City</label>
            <input type="text" id="city" placeholder="enter the city" name="city" />

        </div> -->

        <br>

        <!-- <div> -->
        
            <!--Team Start-->
            <!-- <label htmlFor="name">Year Formed</label>
            <input type="text" id="year" placeholder="enter the year formed" name="year" />

        </div>

        <br> -->

        <!-- <div>
            <button type="submit">Submit to NBA3 Database</button>
        </div> -->
    </form>
    
</body>
</html>